body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


/*  CSS DEFINITION FOR THE HOMEPAGE */

.homepage, .homepage-buttons{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.logotipo{
    width: 600px;
    height: 150px;

    line-height: 150px;
    text-align: center;
    font-size: 300%;

    background-color: darkgoldenrod;
    color: white;

    border-radius: 15px;
    border-width: 10px;
    border-color: black;

    margin: 2%;
}


/* CSS DEFINITION FOR THE CLASSIFICATION PAGE */

.classifications {
    height: auto;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.classifications-table-title {

}

.classifications-table-row{
    background-color: darkgoldenrod;
    border-color: black;
}

.classifications-table-header {
    display: inherit;
}

.classifications-table-content {

}

/* CSS DEFINITION FOR THE CONFIGURATION MENU */

.menu {
    height: auto;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.menu-top, .menu-bottom{
    display: inherit;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    width: 100%;
}

.config{
    height: auto;
    width: auto;
    display: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1%;
}

.config-name {
    width: max-content;
    background-color: darkgoldenrod;
}

.button-style{
    margin: 2%;
}

/* CSS DEFINITION FOR THE GAME PAGE */

.game {
    height: auto;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#jogo{
    display: flex;
    justify-content: center;
}

#board {
    height: 540px; 
    width: 450px;
    background-color: blue;
    border: 10px solid navy;
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}
#direita {
    height: 540px; 
    width: 180px;
    background-color: black;
    border: 10px solid navy;
    display: flex;
    flex-wrap: wrap;
}

#esquerda {
    height: 540px; 
    width: 180px;
    background-color: black;
    border: 10px solid navy;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.red-shallow  {
    background-color: rgba(255,0,0,0.7);
}

.yellow-shallow  {
    background-color: rgba(255,255,0,0.7);
}