body {
  background-color: #fbff7c;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*  CSS DEFINITION FOR THE AUTHENTICATION PAGE */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  margin: 15vh auto;
  box-shadow: 7px 7px 20px rgb(63, 63, 63);
  border-radius: 25px;
  overflow: hidden;
}

.left {
  flex: 40%;
  height: 100%;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  flex: 60%;
  height: 100%;
  background-color: #ffe35e;
  align-items: flex-start;
}

.form {
  text-align: left;
  width: 100%;
}

.form * {
  font-family: "Montserrat", sans-serif;
  color: #e4663a;
}

.login-game-name {
  font-family: "ArcadeClassic", sans-serif;
  letter-spacing: 10px;
  font-size: 100px;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 0%;
  color: #468966;
}

.login-game-name-game {
  font-family: "ArcadeClassic", sans-serif;
  letter-spacing: 10px;
  font-size: 100px;
  margin-left: 15%;
  color: #468966;
  margin-top: -3%;
}

.auth-credentials {
  margin-top: 50px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group .icon {
  margin-left: 19%;
  margin-right: 10px;
  font-size: 25px;
  color: #e4663a;
  vertical-align: middle;
  position: relative;
  top: 4px;
}

.input-group input {
  width: 63%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #e4663a;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  border-radius: 0;
}

.input-group input:focus {
  border-bottom: 3px solid #e4663a;
}

.input-group input::placeholder {
  font-size: 16px;
  color: #e4663a;
}

.button-style-login {
  float: right;
  margin-right: 10%;
  margin-top: 60px;
  height: 50px;
  width: 130px;
  border: none;
  background-color: #468966;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
}

.button-style-login:hover {
  color: #ffe35e;
}

@media screen and (max-height: 830px) {
  .login-game-name {
    font-size: 80px;
    margin-left: 7%;
    margin-top: 9%;
  }

  .login-game-name-game {
    font-size: 80px;
    margin-left: 12%;
    margin-bottom: 0%;
  }

  .auth-credentials {
    margin-top: 5%;
  }

  .input-group input {
    width: 60%;
  }

  .button-style-login {
    margin-top: 20px;
    height: 40px;
  }
}

@media screen and (max-width: 1250px) {
  .auth-page {
    width: 70%;
  }

  .left {
    flex: 40%;
  }

  .right {
    flex: 60%;
  }

  .login-game-name {
    margin-top: 8%;
  }

  .auth-credentials {
    margin-top: 2%;
  }
}

@media screen and (max-width: 850px) {
  .auth-page {
    width: 90%;
  }

  .left {
    flex: 0%;
  }

  .right {
    flex: 100%;
  }

  .login-game-name {
    margin-top: 5%;
  }

  .auth-credentials {
    margin-top: 2%;
  }
}

/*  CSS DEFINITION FOR THE HOMEPAGE */

.homepage {
  height: 100vh;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}

.homepage-buttons {
  display: flex;
  flex-grow: 1;
}

.logotipo {
  width: 100%;
  height: 40%;
  background-color: #ffe35e;
}

.dara-text {
  font-family: "ArcadeClassic", sans-serif;
  font-size: 145px;
  letter-spacing: 10px;
  color: #468966;
  margin-top: 5%;
}

.game-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 30px;
  color: #468966;
  margin-top: -30px;
}

.left-buttons {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 50%;
}

.left-buttons button {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 30%;
  border: 0px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.left-buttons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/play.gif");
  background-size: cover;
  filter: blur(7px);
  transition: filter 0.4s ease;
}

.left-buttons button:hover::before {
  filter: blur(0px);
}

.left-buttons button .button-text {
  color: white;
  position: relative;
  font-family: "ArcadeClassic", sans-serif;
  letter-spacing: 20px;
  font-size: 68px;
  z-index: 1;
}

.right-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.right-buttons button {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 30%;
  border: 0px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.right-buttons button:nth-child(1)::before {
  content: "";
  background: url("images/classification.gif");
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.4s ease;
}

.right-buttons button:nth-child(2)::before {
  content: "";
  background: url("images/rules.gif");
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.4s ease;
}

.right-buttons button:nth-child(3)::before {
  content: "";
  background: url("images/logout.gif");
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.4s ease;
}

.right-buttons button:hover::before {
  filter: blur(0px);
}

.right-buttons button .button-text {
  color: white;
  position: relative;
  font-family: "ArcadeClassic", sans-serif;
  font-size: 30px;
}

@media (max-width: 768px) {
  .homepage-buttons {
    flex-direction: column;
  }

  .logotipo {
    height: 35%;
  }
}

/* CSS DEFINITION FOR THE GAME RULES PAGE */

.title-and-rules {
  display: flex;
  margin-top: 130px;
}

.rules-title {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rules-title span {
  font-family: "ArcadeClassic", sans-serif;
  font-size: 145px;
  letter-spacing: 10px;
  color: #468966;
}

.game-rules-list {
  margin-right: 40px;
  flex: 50%;
}

.top-window {
  background-color: rgba(69, 69, 69, 0.88);
  padding: 5px;
  display: flex;
  font-family: "Courier New", monospace;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icons-terminal {
  display: flex;
  align-items: center;
}

.iconn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.iconn::before {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.iconn:hover::before {
  display: block;
}

.iconn.close::before {
  content: "\2715";
}

.iconn.minimize::before {
  content: "\2500";
}

.iconn.maximize::before {
  content: "\2610";
}

.iconn.red {
  background-color: #da3f3f;
  margin-left: 5px;
}

.iconn.yellow {
  background-color: #ffd429;
}

.iconn.green {
  background-color: #53be53;
}

.title-terminal {
  flex: 1;
  margin-left: -70px;
  color: white;
}

.content-rules {
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.88);
  color: #00ff00;
  font-family: "Courier New", sans-serif;
  font-size: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-rules-div {
  margin-top: 20px;
}

.button-style-rules {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #468966;
  color: white;
  font-size: 15px;
  border: 0;
  margin-top: 30px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.button-style-rules:hover {
  color: #ffe35e;
}

.waiting::after {
  content: "▮";
  font-size: 30px;
  vertical-align: -2px;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 1500px) {
  .title-and-rules {
    margin-top: 0px;
    flex-direction: column;
  }

  .rules-title {
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: row;
  }

  .rules-title span {
    font-size: 80px;
  }

  .game-rules-list {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .button-style-rules {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 876px) {
  .content-rules {
    font-size: 18px;
  }

  .rules-title {
    flex-direction: column;
  }

  .button-style-rules {
    margin-left: 0px;
  }
}

@media screen and (max-height: 950px) and (min-width: 876px) {
  .title-and-rules {
    margin-top: 0px;
    flex-direction: column;
  }

  .rules-title {
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: row;
  }

  .rules-title span {
    font-size: 80px;
  }

  .game-rules-list {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .button-style-rules {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
}

/* CSS DEFINITION FOR THE CLASSIFICATION PAGE */

.classifications {
  height: auto;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.classifications-table {
  display: table;
  margin: 5%;
  box-sizing: border-box;
  border-collapse: collapse;
  border-width: 10px;
  background-color: darkgoldenrod;
  text-align: center;
}

.classifications-table th,
.classifications-table td {
  padding: 10px;
  border: 2px solid rgb(46, 18, 0);
}

.classifications-table th {
  background-color: brown;
}

/* CSS DEFINITION FOR THE GAME RULES PAGE */

.game-rules {
  height: auto;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* CSS DEFINITION FOR THE CONFIGURATION MENU */

.menu {
  height: auto;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.menu-top,
.menu-bottom {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 2%;
  width: 100%;
}

.config {
  height: auto;
  width: auto;
  display: inherit;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1%;
}

.config-name {
  width: max-content;
  background-color: darkgoldenrod;
}

.custom-size-input {
  display: none;
  width: max-content; /* Defina o tamanho que desejar */
  height: auto; /* Mantém a altura automática */
}

#ai-difficulty {
  display: none;
}

/* CSS DEFINITION FOR THE GAME PAGE */

.game {
  height: auto;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#jogo {
  display: flex;
  justify-content: center;
}

#board {
  height: 540px;
  width: 450px;
  background-color: navy;
  border: 10px solid navy;
  margin-right: 80px;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
}
#direita {
  height: 540px;
  width: 180px;
  background-color: black;
  border: 10px solid navy;
  display: flex;
  flex-wrap: wrap;
}

#esquerda {
  height: 540px;
  width: 180px;
  background-color: black;
  border: 10px solid navy;
  display: flex;
  flex-wrap: wrap;
}

#custom-board-size {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 10px;
  display: none;
}

#custom-num-rows,
#custom-num-cols {
  margin: 10px 0;
}

span {
  display: block;
  font-weight: bold;
  color: black;
}

input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;

  /* Circle */
  background-color: white;
  border-radius: 50%;
  border: 5px solid navy;
}
